@charset "UTF-8";

body, ul,li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    font-weight: 600;
    text-decoration: none;
    color:ghostwhite;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
     
}
#logo{
    position: relative;
    bottom:  650px;
    padding: 20px;
    margin-left: 40px;
    font-size: 40pt;
}

#img{ 
    width: 100vw;
    height: 100vh;
}
  

  .menu{
    display: flex;
    position: relative;
    bottom:  620px;
    margin-right: 30px;
}
a#sobre:hover{
    background-color: rgb(235, 40, 73);
    border-radius: 10px;
    transition: 1.5s;

}
.cor:hover{
    background-color: #FFFBFF;
    color: #E4DEB7;
    border-radius: 10px;
    transition: 1.5s;
}

.menu li{
    margin-left: 10px;
   
}

.menu li a{
    display: block;
    padding: 20px;
}
section#inf{
    position:relative;
    bottom: 30em;
    text-align: center;
    color: white;
}

#h1{
    font-size: 50pt;
}
#p{
    font-size: 25pt;
    font-weight: normal;
}